# Remove useless files
code/local/__pycache__/*
code/local/.ipynb_checkpoints/*
code/.ipynb_checkpoints/*
code/local/googleAPI
code/local/key.txt
code/local/parser.py

# Remove unnecessary code files (to be added later)
# code/local/libraries.py
code/local/utils_event_detection.py
code/local/utils_mobility.py

# Remove unnecessary data files (to be added later)
data/tweets_*
